<header
  class={`
    flex justify-center items-center
    mx-auto
    py-5
    sticky top-0
    w-full xl:w-[1120px]
    z-10
  `}
>
<nav
class={`
  border border-white/10 rounded-full
  px-3 py-1
  flex flex-row items-center
  bg-black/50 dark:bg-black/50
  backdrop-blur-2xl
  shadow-lg shadow-white/5
`}
>
<a
  class="hover:bg-white/10 hover:text-yellow-200 rounded-full px-3 py-1 transition-all duration-300"
  href="#experiencia">Experience </a
>
<a class="hover:bg-white/10 hover:text-yellow-200 rounded-full px-3 py-1 transition-all duration-300" href="#proyectos"
  >Projects </a
>
<a class="hover:bg-white/10 hover:text-yellow-200 rounded-full px-3 py-1 transition-all duration-300" href="#sobre-mi"
  >About & Contact</a
>

</nav>
</header>